<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :projects %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% projects = projects.order(:id) unless has_order?(projects) %>
<% pagy, projects = pagy(projects, page_param: :projects_page) %>

<%= action_model_select_controller do %>
  <%= updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |p| %>
      <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
      <% p.content_for :description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless projects.any?}") %>
        <%= render "shared/limits/index", model: projects.model %>
      <% end %>

      <% p.content_for :table do %>
        <% if projects.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.name.heading') %></th>
                <th><%= t('.fields.status.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% projects.each do |project| %>
                <% with_attribute_settings object: project do %>
                  <tr data-id="<%= project.id %>">
                    <%= render "shared/tables/checkbox", object: project %>
                    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, project] %></td>
                    <td><%= render 'shared/attributes/option', attribute: :status %></td>
                    <%# 🚅 super scaffolding will insert new fields above this line. %>
                    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                    <td class="buttons">
                      <% unless hide_actions %>
                        <% if can? :edit, project %>
                          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, project], class: 'button-secondary button-smaller' %>
                        <% end %>
                        <% if can? :destroy, project %>
                          <%= button_to t('.buttons.shorthand.destroy'), [:account, project], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(project)) }, class: 'button-secondary button-smaller' %>
                        <% end %>
                        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% p.content_for :actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, Project.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :project], class: "#{first_button_primary(:project)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:project)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% p.content_for :raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
