<% project = @project || @project %>
<% context ||= project %>
<% collection ||= :goals %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% goals = goals.order(:id) unless has_order?(goals) %>
<% pagy, goals = pagy(goals, page_param: :goals_page) %>

<%= action_model_select_controller do %>
  <%= updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |p| %>
      <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
      <% p.content_for :description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless goals.any?}") %>
        <%= render "shared/limits/index", model: goals.model %>
      <% end %>

      <% p.content_for :table do %>
        <% if goals.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.description.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% goals.each do |goal| %>
                <% with_attribute_settings object: goal do %>
                  <tr data-id="<%= goal.id %>">
                    <%= render "shared/tables/checkbox", object: goal %>
                    <td><%= render 'shared/attributes/text', attribute: :description, url: [:account, goal] %></td>
                    <%# 🚅 super scaffolding will insert new fields above this line. %>
                    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                    <td class="buttons">
                      <% unless hide_actions %>
                        <% if can? :edit, goal %>
                          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, goal], class: 'button-secondary button-smaller' %>
                        <% end %>
                        <% if can? :destroy, goal %>
                          <%= button_to t('.buttons.shorthand.destroy'), [:account, goal], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(goal)) }, class: 'button-secondary button-smaller' %>
                        <% end %>
                        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% p.content_for :actions do %>
        <% unless hide_actions %>
          <% if context == project %>
            <% if can? :create, Goal.new(project: project) %>
              <%= link_to t('.buttons.new'), [:new, :account, project, :goal], class: "#{first_button_primary(:goal)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:goal)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% p.content_for :raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
